body{
    background-image: url(website-assests/bg.png);
    background-repeat:no-repeat;
  background-attachment: fixed;
  font-family:'Merriweather Sans', sans-serif;
  src: url('Merriweather_Sans/MerriweatherSans-Italic-VariableFont_wght.ttf');
  
  
margin: 0%;

}

    
#top{
    height:23%;
    background-color: black;
}  





#QNA{
    font-size: 3vw;
    width: 70%;
    padding-top: 5%;
    margin-left: 9%;
    color: wheat;
}

#question{
    margin-top: 3%;
    margin-left: 9%;
    font-size: 2vw;
    color: white;
}

.answers{
    font-size: 1.6vw;
    line-height: 140%;
}








#title{
margin-left: 9%;
    font-size: 3vw;
    color: wheat;
    font-style: italic;
    
    
}
#infoone{
    margin-top: 2%;
    margin-left: 10%;
    font-size: 2.1vw;
color: wheat;
}
#infotwo{
    margin-left: 10%;
 
font-size: 2vw;
color: wheat;
}


